* {
  box-sizing: border-box;
}
body {
  margin: 100px;
}
.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 252, 245);
  box-sizing: content-box;
  border: 1px solid rgb(225, 229, 231);
  border-radius: 15px;
}
.excel {
  width: 50px;
  height: 50px;
  padding: 7px;
}
.catBody {
  background-color: rgba(87, 101, 110, .75);
  border-radius: 100%;
}
.catHead {
  background: url('tom.png') center / cover no-repeat;
  border-radius: 25%;
}
.mouse {
  background: url('jerry.jpg') center / cover no-repeat;
}
.result {
  display: block;
  margin: auto;
  margin-top: 30px;
  font-size: 30px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  border: 1px solid rgb(87, 101, 110);
}
.BtnStart, .BtnEnd {
  font-size: 30px;
  margin: 10px 5px;
  background-image: linear-gradient(0deg, #00a8c5, #ffff7e);
  transition: all .7s ease;
}
.BtnEnd {
  background-image: linear-gradient(0deg, #d74177, #ffe98a);
  transition: all .7s ease;
}
.BtnEnd:hover {
  background-image: linear-gradient(180deg, #d74177, #ffe98a);
  transition: all .7s ease;
}
.BtnStart:hover {
  background-image: linear-gradient(180deg, #00a8c5, #ffff7e);
  transition: all .7s ease;
}
.wrapLevel {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.level {
  font-size: 20px;
  margin: 0 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
.level.selected {
  background-color: rgb(251, 255, 11);
  border-bottom: 4px solid #000;
}
.WrapBtn {
  display: flex;
  justify-content: center;
}